Hello, Horror Enthusiast!
  
<%= @name %> has shared a custom-made Horror Stories video with you.
<%= @message %>
Visit <a href src="<%= @url %>" >Horror Stories</a> to view the video. You can also see other visitors' videos and make your own!
   
Enjoy!
-The Horror Stories Team