var player;

var tag = document.createElement('script');
tag.src = "http://www.youtube.com/player_api";
var firstScriptTag = document.getElementsByTagName('script')[0];
firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

$('#end-video-image').css('visibility', 'hidden');
$('#new_collage').css('visibility', 'hidden');

$('#sound-buttons').css('visibility', 'visible'); 
$('#collage').css('background-image', "url(../images/collage-page/play-background.png)");  
$('#share-button').html("<a href='/collages/share/<%= @collage.id %>' data-confirm='Sharing your video will take you away from this page.  Do you want to share?'><img alt='Blank' height='15' src='../images/blank.png?1333492055' width='183'></a>");
lowerGraves();
stopCoaster();

function onYouTubePlayerAPIReady() {
	player = new YT.Player('player', {
	      height: '138',
	      width: '273',
	      playerVars:{autoplay:1, controls:0},
	      events: {
	      'onReady': onPlayerReady,
	      'onStateChange': onPlayerStateChange,
	      'onError': onPlayerError
	      }
    });
}
  
function onPlayerReady(event) {
	 if (player) {
	 	player.mute();
	 	player.loadPlaylist('<%= @collage.videos[0..@collage.videos.length].collect{|v| v.title}.join(",") %>', 0, 0, "small");
	    event.target.playVideo();
	  }
}
  
function onPlayerStateChange(event) {
    if (event.data == YT.PlayerState.ENDED) {
    	$('#player').css('visibility', 'hidden');  
    	$('#end-video-image').css('visibility', 'visible'); 
		$('#sound-element').html("");
		player.Mute();  
    }
}

function onPlayerError(event) {
    player.nextVideo();
}



