<div id="share-success">
	<%= render 'shared/navigation' %>
	<div id="share-success-button">
		<%= link_to image_tag("blank.png", :width=>256, :height=>31), :controller => 'collages', :action => 'share', :id => @collageid %>
	</div>
</div>
